@charset "utf-8";
/* 프로모션 */
.promotion .inner{
 
}
.promotion .section-top{
    display: none;
}
.sw-promotion a{
    display: inline-block;
border-radius: 13px;
overflow: hidden;
}
.sw-promotion a img{
    width: 100%;
    height: auto;
}
/* pagination */
.sw-promotion-control{
    position: relative;
    text-align: center;
    display: none;
}