@charset "utf-8";
@media screen and (max-width: 1280px) {
  .inner {
    max-width: 1024px;
  }
}
@media screen and (max-width: 1024px) {
  /* 퀵메뉴 */
  .quick-menu{
    display: block;
  }
  .quick-menu .inner{
    border-bottom: none;
  }
  .inner {
    max-width: 760px;
    padding: 0 20px;
    border-bottom: 8px solid #f0f0f0;
  }
  .header {
    border: none;
  }
  .header .inner {
    height: 230px;
    padding: 15px 0;
    background-color: aqua;
  }
  .header-left {
    width: 70%;
  }
  .logo {
    width: 77px;
    /* height: 18px; */
  }
  .member-list {
    display: none;
  }
  .mb-mypage {
    display: block;
  }
  .service-menu {
    display: none;
  }
  .header-down {
    justify-content: center;
  }
  .service-list li {
    display: flex;
    width: 48px;
  }
  .service-list li a {
    font-size: 12px;
    text-align: center;
  }
  .service-list li a img {
    width: 100%;
    height: 48px;
    margin: 0;
  }
  .header-left {
    flex: none;
  }
  .search {
    position: absolute;
    top: 157px;
    left: 50%;
    transform: translateX(-50%);
  }
  .sw-promotion-control {
    display: block;
    height: 23px;
  }
  .sw-promotion-pg {
    height: 100%;
    margin-top: 10px;
  }
  .swiper-pagination-bullet {
    border-radius: 0;
    background-color: blue;
  }
  .swiper-pagination-bullet-active {
    width: 20px;
    background-color: red;
  }
  .live .section-slide {
    height: 400px;
  }
  html {
    font-size: 8px;
  }
  .bt-link-shop{
    margin-bottom: 40px;
  }
  .section-top .btns a {
   
    margin-bottom:10px;
  }
  .sw-events .swiper-slide{
    height: 270px;
}
.event .inner{
  border-bottom: none;
}
.footer-menu ,.footer-main{
  display: none;
}
.footer-mobile {
  display: block;
}

}
@media screen and (max-width: 680px) {
  .live .section-slide {
    height: 400px;
  }
}
@media screen and (max-width: 540px) {
  .live .section-slide {
    height: 300px;
  }
  html {
    font-size: 6px;
  }
  .live-info-date {
    line-height: 20px;
    margin-bottom: 5px;
    display: none;
  }
  .live-info-time {
    line-height: 3px;
    font-weight: 700;
  }
  .section-top .btns a {
    padding: 0 13px;
    line-height: 36px;
    margin-bottom:10px;
  }
}
@media screen and (max-width: 480px) {
  .inner {
    max-width: 360px;
    padding: 0 20px;
  }
  .search {
    width: 310px;
    padding: 0;
    top: 77px;
    height: 40px;
  }
  .search-text {
    width: 230px;
    /* padding: 10px; */
    font-size: 13px;
    padding-left: 10px;
  }
  .search-reset {
    width: 30px;
  }
  .search-reset {
    width: 30px;
  }
  .header-down {
    display: none;
  }
  .header .inner {
    height: 150px;
    padding: 0 20px;
  }
  .live-img img {
    width: 100%;
  }
  .books-img {
    height: 200px;
  }
  .sw-bt {
    width: 35px;
    height: 35px;
  }
  .sw-prev {
    left: 22px;
  }
  .sw-next {
    right: 22px;
  }
  .sw-events .swiper-slide{
    height: 230px;
}
.bt-link-shop{
  width: 100%;
  border-radius: 10px;
}
}
@media screen and (max-width: 320px) {
  .books-img {
    height: 130px;
  }
  .sw-events .swiper-slide{
    height: 190px;
}
}
